html, body {
    height: 100%;
    height: 100%;
}

.item1 {grid-area: header;}

.item2 {grid-area: menu;}

.item3 {grid-area: main;}

.item4 {grid-area: footer;}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    'header header header header header'
    'menu   menu   menu   menu   menu'
    'main   main   main   main   main'
    'footer footer footer footer footer';
}

#boxLogin {
    background-color: purple;
    width: 750px;
    padding: 4rem;
}

body {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(purple, rgb(190, 0, 190), rgb(219, 0, 219), rgb(93, 0, 255), rgb(67, 0, 250) );
}