* {
    height:100%;
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.item1 {grid-area: header;}

.item2 {grid-area: game;}

.item3 {grid-area: menu;}

.item4 {grid-area: footer;}

.grid-container {
    display: grid;
    grid-template-columns:  auto auto auto auto ;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    'header header header header header'
    'game   game   game   menu   menu'
    'game   game   game   menu   menu'
    'game   game   game   footer footer';
}

.item1 {
    background-color: rgb(255, 132, 0);
}

.item2 {
    background-color: rgb(62, 62, 62);
    text-align: center;
}

.item3 {
    background-color: blue;
    display:flex;
    flex-direction: column;
}

.item4 {
    background-color: rgb(52, 241, 0);
}

.knapp {
    border: 2px solid black;
    /* width: 200px;
    width: 200px; */
    display: flex;
    justify-content: space-between;
}

.knapp > button{
    width:111px;

}

.saveKnapp {
    border: 1px solid black;
}

.saveKnapp:hover {
    background-color: purple;
}