html, body {
    height: 100%;
}

html {
    height: 100vh;
    /* overflow: hidden; */
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s ease-in-out;
    perspective: 1px;
    background: black;

    /* smooth fade animasjon */
    opacity: 0;
    animation: fadeIn 0.8s ease-in-out forwards;
    scroll-behavior: smooth;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    'header header header header header'
    'menu   menu   menu   menu   menu'
    'text   text   text   text   text'
    'main   main   main   main   main'
    'footer footer footer footer footer';
}

.item1 {
    grid-area: header;
    height: 900px;
    background-position: bottom;
    display: flex;
    justify-content: center;
    background-position: center;
    background: url(../bilder/FelixEllingsenWestby.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    /* parallax */
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
}


#title {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    /* background: black; */
    color: white;
    font-weight: 900;
}

.item2 {
    grid-area: menu;
    height: 50px;
    background: #07004D;
    justify-content: left;
    align-items: center;
    display: flex;
    position: sticky;
    top: 0;
    font-size: 1.5rem;
    z-index: 2;
}

.item3 {
    padding: 1.3rem;
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    gap: 3rem;
    background-color: #0079A4;
    z-index: 4;
}

.item4 {
    height: 200px;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #07004D;
    color: white;
    font-weight: 900;
    font-size: 1.2rem;

}

.item5 {
    height: 1500px;
    grid-area: text;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: white;
    font-weight: 900;
    text-align: center;
    font-size: 2.5rem;
    z-index: 1;
}

#logo {
    transition: 1s;
}

#logo:hover {
    transition: 1s;
    transform: scale(1.01);
}

nav a {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 10px;
    margin: 0 30px;
    position: relative;
    color: white;
    font-weight: 600;

}

nav a:hover {
    color: #42E2B8;
}

nav a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 4px;
    background-color: #0079A4;
    transition: all 0.5s;
}

nav a:hover::before {
    width: 100%;
}

.flexbox {
    border: solid 3px black;
    border-radius: 10px;
    height: 400px;
    width: 400px;
    padding: 10px;
    background: #07004D;
    /* margin: 25px 0px 25px 0px; */
    /* background: linear-gradient(to bottom right, rgb(201, 201, 201), white); */
    transition: 0.3s;
    animation: fadeInCards 0.7s ease-in-out forwards;
    color: white;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
    font-weight: 900;
    text-align: center;
    font-size: 1.2rem;


}

.flexbox:hover {
    transition: 0.3s;
    transform: scale(1.02);
    color: #42E2B8;
}

/* prøver å lage en hover effekt på bildet i flexboksen */
/* #HvemErJeg {
    background: url(bilder/Felix\ Ellingsen\ Westby.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#HvaKanJeg:hover {
    -webkit-filter: blur(5px);
    filter: blur(5px);
} */


/* for scrollen til prosjektsiden */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInCards {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.media-scroller {
    --_spacer: var(--size-4);
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
    grid-auto-columns: 40%;

    padding: 0 var(--_spacer) var(--_spacer);

    overflow-x: auto;
    overscroll-behavior-inline: contain;

}

.media-element {
    display: grid;
    grid-template-rows: min-content;
    gap: var(--_spacer);
    padding: var(--_spacer);
    background: var(--surface-2);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
}

.media-element > img {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding: var(--_spacer, 1rem);
}

.snaps-inline > * {
    scroll-snap-align: start;
}

@keyframes appear {
    from {
        opacity: 0;
        /* clip-path: inset(100% 100% 0 0); */
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        /* clip-path: inset(0 0 0 0 ); */
        transform: translateX(0px);
    }
}



/* parallax */
.parallax-wrapper {
    width: 100vw;
    height: 100vh;
    padding-top: 20vh;
    box-sizing: border-box;
    transform-style: preserve-3d;

}

.parallax-wrapper::before {
    content:"";
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: red;
    position: absolute;
    z-index: -1;
    transform: translateZ(-1px) scale(2);
}

.regular-wrapper {
    width: 100vw;
    height: 100vh;
    padding-top: 20vh;
    background: blue;
    z-index: 2;
    position: relative;
}

.content {
    margin: 0 auto;
    padding: 50px;
    width: 50%;
    /* background: #aaa; */
}





/* fra w3 schools */
/* .parallax {
    The image used
    background: red;
  
    Full height
    height: 100%;
  
    Create the parallax scrolling effect
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */



@media screen and (max-width: 800px) {
    html, body {
        width: 100%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
        'header'
        'menu'
        'text'
        'main'
        'footer';
    }

    .item1 {
        grid-area: header;
        height: 900px;
        background-position: bottom;
        display: flex;
        justify-content: center;
        background-position: center;
        background: url(../bilder/FelixEllingsenWestby.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    
        /* parallax */
        transform-style: preserve-3d;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    
    #title {
        /* text-align: center; */
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        /* background: black; */
        color: white;
        font-weight: 900;
    }
    
    .item2 {
        grid-area: menu;
        height: 50px;
        background: #07004D;
        justify-content: left;
        align-items: center;
        display: flex;
        position: sticky;
        top: 0;
        font-size: 1.5rem;
    }
    
    .item3 {
        padding: 1.3rem;
        grid-area: main;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        gap: 3rem;
        background-color: #0079A4;
    }
    
    .item4 {
        height: 200px;
        grid-area: footer;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #07004D;
        color: white;
        font-weight: 900;
        font-size: 1.2rem;
    
    }
    
    .item5 {
        height: 1500px;
        grid-area: text;
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
        color: white;
        /* font-weight: 900; */
        text-align: center;
    
    }

    .flexbox {
        height: 300px;
        width: 300px;
    }
}

/* bilder */
.image-container {
    position: relative;
    width: fit-content;
    overflow: hidden;
    z-index: 3;
}

.image {
    display: block;
    width: 600px;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.7s;
}

.image-overlay:hover {
    backdrop-filter: blur(20px);
    opacity: 1;
}

.image-button {
    background-color: #07004D;
    outline: none;
    border: 1px solid white;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.25em;
    padding: 0.5em 1em;
    transition: background-color 0.5s;
    transition: color 0.5s;
}

.image-button:hover {
    cursor: pointer;
    background-color: #0079A4;
    color: #42E2B8;
}