

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: green;
    scroll-behavior: smooth;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    "header header header header header"
    "menu   menu   menu   menu   menu"
    "main   main   main   main   main"
    "footer footer footer footer footer";
}

.header {
    grid-area: header;
}

.menu {
    grid-area: menu;
    position: sticky;
    top: 0;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}



/* menu */

* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    background: #000000;
    box-shadow: 3px 3px 3px rgba(66, 66, 66, 0.3);
    }
    
    ul li {
    display: inline-block;
    position: relative;
    }
    
    ul li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    padding: 20px 25px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    }
    
    ul li ul.dropdown li {
    display: block;
    }
    
    
    ul li ul.dropdown {
    width: 1                                                                                                                                      00%;
    background: #005c03;
    /* position absoulute passer på at menyen ikke går ned sammen med dropdown menyen når du hovrer over den */
    position: absolute;
    /* z-index viser hvor den skal være plasert p skjermen, om den skal være over noe tekst eller under noe tekst */
    z-index: 999;
    display: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    }
    
    /* når du hvorer over dropdownmenyen skal den ha denne fargen */
    ul li a:hover {
    background: #00ff2a;
    }
    
    /* når du hovrer over dropdownmenyen skal den vises som en blokk */
    ul li:hover ul.dropdown {
    display: block;
    }    