

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(201, 201, 201);
    scroll-behavior: smooth;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
    "header header header header header"
    "menu   menu   menu   menu   menu"
    "main   main   main   main   main"
    "footer footer footer footer footer";
}

.header {
    grid-area: header;
    background: linear-gradient(to bottom right, #123456, rgb(95, 95, 252), yellow, orange) no-repeat;
    height: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
}


.menu {
    grid-area: menu;
    position: sticky;
    top: 0;
    align-content: space-around;
}

.main {
    grid-area: main;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1ren;
}

.footer {
    grid-area: footer;
    background: linear-gradient(to bottom right, #123456, #3186db);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* menu */

* {
    padding: 0;
    margin: 0;
}

ul {
list-style: none;
background: #000000;
box-shadow: 3px 3px 3px rgba(66, 66, 66, 0.3);
z-index: 999;

}

ul li {
display: inline-block;
position: relative;
}

ul li a {
font-family: Verdana, Geneva, Tahoma, sans-serif;
display: block;
padding: 20px 25px;
color: white;
text-decoration: none;
text-align: center;
font-size: 20px;
}

ul li ul.dropdown li {
display: block;
}


ul li ul.dropdown {
width: 1                                                                                                                                      00%;
background: #3186db;
position: absolute;
z-index: 999;
display: none;
box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

ul li a:hover {
background: #123456;
}

ul li:hover ul.dropdown {
display: block;
}

.homePageButton {
    background-color: red;
    width: 50px;
    height: 50px;
    float: right;
    transition: 1s;
    /* transform: scale(1); */
}

.homePageButton:hover {
    transform: scale(1.75);
    transition: 1s;   
}

.footerText {
    overflow: hidden;
}

p {
    font-size: 1.5rem;
}

.main h1 {
    font-size: 2.7rem;
}

.flexbox {

    border: solid 5px black;
    height: 400px;
    width: 400px;
    background: linear-gradient(to bottom right, #123456, #3186db);
    box-shadow: 3px 3px 3px rgba(66, 66, 66, 0.9);

    transition: 1s;
}

.flexbox:hover {
    transform: scale(1.07);
    transition: 0.5s;
}

.flexbox h1 {
    margin: 5px;
    padding: 5px;
}

.flexbox p {
    margin: 5px;
    padding: 5px;
}

.logo {
    width: 3rem;
    transition: 1s;
}

.logo:hover {
    transform: scale(1.50);
    transition: 0.5;
}

@media screen and (max-width: 800px) {
    .grid-container {
        display: flex;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        "header"
        "menu"
        "main"
        "footer";
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    html, body {
        width: 100%;
    }

    .flexbox {
        display: flex;
        justify-content: center;
        justify-items: center;
        flex-wrap: wrap;
        border: solid 5px black;
        height: 250px;
        width: 250px;
        background: linear-gradient(to bottom right, #123456, #3186db);
        box-shadow: 3px 3px 3px rgba(66, 66, 66, 0.9);
    
        transition: 1s;
    }

}