* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", sans-serif;
    box-sizing: border-box;
  }
  
  /* selve nettsiden */
  body {
    background-color: #8bc6ec;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* selve netsiden som skal inneholde kalkulatoren */
  .container {
    background: #000000;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
  }

  .calc-text {
    margin-bottom: 20px;
    padding-left: 5px;
  }
  
  /* selve koden på user input (det som viser regnestykket) */
  .calc-text p {
    width: 100%;
    font-size: 3.5rem;
    text-align: end;
    background: transparent;
    color: #fff;
    border: none;
    outline: none;
    word-wrap: break-word;
    word-break: break-all;
  }

  /* knappene skal være en viss farge og instilling på størrelse */
  button {
    background: #333333;
    color: #fff;
    font-size: 1.5rem;
    border: none;
    border-radius: 70%;
    /* curser koden gjør at den vil bli til en hånd når den hovrer over knappene */
    cursor: pointer;
    height: 65px;
    width: 65px;
  }
  
  button:active,
  button:focus {
    filter: brightness(120%);
  }
  

  /* knappene er strukturert som en grid */
  .calc-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 15px;
    grid-column-gap: 10px;
  }
  
  /* gjør at 0-knappen er større enn de andre */
  .key-zero {
    grid-column: span 2;
    width: 100%;
    border-radius: 30px;
  }
  
  /* fargen på det som er på høyre */
  .key-operate {
    background: #ff9501;
  }
  
  /* fargen på de øverste knappene på kalkulatoren */
  .key-others {
    background: #a6a6a6;
    color: #000000;
  }